// .home-container {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

// .nav-bar {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: #fff;
//   padding: 10px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 98%;
//   z-index: 1;

//   img {
//     height: 100px;
//     width: auto;
//   }

//   ul {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     list-style: none;
//     margin: 0;
//     padding: 0;

//     li {
//       margin-left: 20px;

//       a {
//         color: #007bff;
//         text-decoration: none;

//         &:hover {
//           text-decoration: underline;
//         }
//       }
//     }
//   }
// }

// .center-section {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   flex: 1;
//   margin-top: 120px;

//   h1 {
//     text-align: center;
//     font-size: 3rem;
//     margin-bottom: 20px;
//   }

//   p {
//     text-align: center;
//     max-width: 800px;
//     margin-bottom: 40px;
//   }

//   .image-grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//     grid-gap: 20px;

//     img {
//       width: 100%;
//       height: auto;
//       border-radius: 5px;
//     }
//   }
// }


.footer {
  display: flex;
  flex-wrap: wrap;
  top: 80%;
  justify-content: space-between;
  background-color: #3f3d3d;
  color: #fff;
  padding: 20px;
  margin-top: auto;
  width: 100%;
 

  

  .contact-info {
    margin-right: 20px;
    flex: 1 1 30px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 5px;
    }
  }

  .social-media {
    margin-right: 10px;
    flex: 1 2 160px;
    align-items: center;
  
    

    h2 {
      font-size: 1.5rem;
      margin-bottom: 90px;
      margin-left: 40px;
      justify-content: center;
    
    }

    ul {
      display: flex;
      justify-content:space-evenly;
      margin-right: 800px;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          color: #fff;
          font-size: 1.5rem;

          &:hover {
            color: #007bff;
          }
        }
      }
    }
  }

  .team-members {
    flex: 1 1 300px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        img {
          width: 110px;
          height: 150px;
          border-radius: 50%;
          margin-bottom: 10px;
        }

        a {
          color: #fff;
          text-align: center;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}



*{
  margin: 0;
  padding: 0;
}


.header1{
  min-height: 100vh;
  width: 100%;
  
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,7)),url(../assests/pic1.webp);
  background-size: cover;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
    width: 150px;
    padding-left: 0;
    
}
.nav-links{
  flex: 1;
  text-align: right;

}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
   color: #fff;
   text-decoration: none;
   font-size:13px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.nav-links ul li ::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li :hover::after{
   width:100%;
}  
.text-box{
  width:90%;
  color:#fff;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;

}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color:#fff;
}
.hmbutton{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  background:transparent;
  position: relative;
  padding: 12px 34px;
  cursor: pointer;

    background-color: #f0ebec;
    padding-top: 20px/* 8px */;
    width: 15%;
    --tw-text-opacity: 1;
    color: black;
    border-radius: 10px;
    height: 20px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 0px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    font-weight: 700;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  
  .hmbutton:hover {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  
  .hmbutton:active {
    transform: scale(0.95);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  }




.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
  font-size: 36px;
  font-weight: 800;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

p{
  color: #5d5c5c;
  font-size: 14px;
  line-height: 22px;
  padding: 10px;
  font-weight:1200px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.propertycol{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  cursor: pointer;
}
h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.propertycol:hover{
  box-shadow:  0 0 20px 0px rgba(0, 0, 0, 0.3);
}
.places{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
.propertycol-1{
  flex-basis: 32%;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.propertycol-1 img{
  width:400px;
  height:400px;
  display: block;
}
.layer{
  background: transparent;
  height: 100%;
  width:100%;
  position: absolute;
  top:0;
  left:0;
  transition: 0.5s;
}
.layer:hover{
  background: rgba(226,0,0,0.6);
}

.layer h3{
  width:100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

.testimonials{
  width:80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
  display: block;
}

.testimonials-col{
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display:flex;
}

.testimonials-col img {
height: 40px;
margin-left: 5px;
margin-right: 30px;
border-radius: 50%;
}

.testimonials-col p{
  padding: 0;
}
.testimonials-col h3{
  margin-top: 15px;
  text-align: left;
}


.cta{
  margin: 100px;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../assests/picture4.jpg);
   background-position: center;
   background-size: cover;
   text-align: center;
   border-radius: 20px;
   padding: 100px 0;

}

.cta h1{
  color:#fff;
  margin-bottom: 40px;
  padding: 0;
}

.footer{
  width:100%;
  text-align:center;
  padding:30px 0;

}


footer p{
  color:#fff;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer h2{
  color:#fff;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.followus{
  position: relative;
  left:0%;
}





























